
.footer{
    background-color: #2D788F;
}

.top_footer{
    display: flex;
    justify-content: space-around; 
    padding-top: 20px;
}
.payment_methods{
    width: 50%;
    padding-top: 10px;
    padding-left: 17px;
}

.methods{
    width: 25px;
    height: 20px;
}

.middle_footer{
    text-align: center;
    padding: 20px 20px;
    border-bottom: 5px solid white;
}
.Corporate{
    padding-left: 70px;
}
.sécurité{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
.aide{
    padding-left: 20px;
}
.faq{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}

.bottom_footer{
    height: 70px;
    padding-left: 70px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;    
}

.social_media{
    height: 200px;
    display: flex;
    justify-content: space-around; 
    padding-left: 20px;

    /* justify-content: space-between;
    text-align: right;
    padding: 20px;
    margin-right: 50px;
    height: 70px; */
}

.media_images{
    height: 15px;
    padding-left: 10px;
    
}
