@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .main{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  */

section.top {
    /* border: 1px solid black; */
}
section.top marquee {
    background-color: black;
    color: white;
    width: 100%;
}
.logo {
    width: 70px;
    height: 70px;
}
.logo_ttl_bskt{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
header h1{
    font-size: 3.8rem;
    font-family: 'Montserrat';
    font-weight: 200;
}
header h1 span{
    font-weight: 600;
}
section.panier_logo img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

@media screen and (min-width:800px) and (max-width:959px) {
    section.panier_logo img{
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    h1 {
        font-size: 3.4rem;
        color: blue;
    }
}

@media screen and (min-width:480px) and (max-width:799px) {
    .logo {
        width: 60px;
        height: 60px;
    }
    section.panier_logo img{
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    
    h1 {
        font-size: 3.4rem;
        color: red;
    }
    label {
        top: -25px !important;
        right: 50px !important;
    }
}


/* navigation  */

section.mainNav {
    position: relative;
}

nav {
    background-color: rgba(202, 202, 195, 0.2);
    transform: scale(1, 0);
    transition: 250ms ease-in-out;
    transform-origin: top;
    padding: 10px 0px 2px 0px;
}
nav ul {
    font-size: 18px;
    margin-left: 20px;
    list-style: none;
}
nav ul li {
    transform: scale(1, 0);
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: red;
}
input.nav-toggler  {
    margin-left: 20px;
    position: absolute;
    top: -70px;
    right: 10%;
    opacity: 0;
}
input.nav-toggler:checked ~ nav {
    transform: scale(1, 1);
}
input.nav-toggler:checked ~ nav ul li {
    transform: scale(1, 1);
    transition: 250ms ease-in-out;
}
 label {
    position: absolute;
    top: -48px;
    right: 8%;
    height: 50%;
    width: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
label span {
    position: absolute;
    height: 3px;
    width: 25px;
    z-index: 2;
    background: rgb(17, 17, 16);
    margin-top: 5px;
}
label span, label span::before, label span::after {
    /* position: relative; */
    height: 3px;
    width: 25px;
    z-index: 2;
    background: rgb(17, 17, 16);
}
label span::before {
    content: '';
    position: absolute;
    top: 8px;
    height: 2px;
}
label span::after {
    content: '';
    position: absolute;
    bottom: 7px;
}
@media only screen and (min-width: 800px){
    nav ul li {
        transform: scale(1, 1);
        display: inline-block;
        /* border: 2px solid white; */
        padding: 4px;
        width: 120px;
        height: 25px;
        
    }
    nav {
        transform: scale(1, 1);
        text-align: center;
    }
    input, label {
        display: none !important;
    }
}

/* @media screen and (min-width:960px) and (max-width:1200px)
@media screen and (min-width:768px) and (max-width:959px)
@media screen and (min-width:320px) and (max-width:767px) */