footer {
    background-color: rgb(250, 241, 228);
    padding: 50px 20px !important;
}
section.btm_top {
    display: flex;
    justify-content: space-around;
}
section.top section:nth-child(1) span{
    display: flex;
    flex-direction: column;
}
section.top section:nth-child(1) span img{
    height: 70px;
    width: 70px;
}
section.bottom {
    text-align: justify;
    padding-top: 20px !important;
}
section.bottom p.about_short{
    border-bottom: 1px solid black;
    padding-bottom: 15px !important;
}
section.contact_info {
    padding-top: 10px !important;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
section.contact_info address{
    text-align: center;
}
section.social {
    display: flex;
    gap: 10px;
}
section.social span img{
    margin: 0 5px !important;
}

