*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainAdmin{
    max-width: 1280px;
    margin: 0 auto; 
    /* margin-top: 100px;
    margin-left: 250px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(175, 175, 225); */
} 
.navbar{
       margin-left: 100px;
}
/* body start for admin Dashbord */
#admin{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aqua;
}
.dashbordBody{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding-top: 50px;
    padding-bottom: 150px;   
}

.placeholder{
    width: 230px;
    height: 50px;
    text-align: center;
    border-bottom: rgb(175, 175, 225); 
}

.file{
    display: flex;
    justify-content: space-around;
    width: 220px;
    height: 40px;
    cursor: crosshair;
    background-color: turquoise;
    margin-bottom: 50px;
}
.article{
    display: flex;
    justify-content: space-between;
    background-color: black;
}