/* body start from boutique */
#boutiqe{
    text-align: center;
    padding: 100px;
}
#Boutique_body{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;


}
 #sidebar1{
    text-align: center;
}

.sideImg{
    width: 100px;
    height: 200px;
    padding-top: 40px;
}
/* #sidebar2{
    text-align: center;
    padding-top: 90px;
} */ */
/* #color{
    text-align: center;
} */
.side_imgs{
    width: 200px;
    height: 200px;
}

.taille{
    padding-top: 50px;
    text-align: center;
}
.taille1{
    padding-top:20px;
    text-align: center;
}
.size_area{
    padding-top: 20px;
    text-align: center;
    word-spacing: 30px;
}

.quantity_adjust{
    padding-top: 40px;
    text-align: center;
}
#add_button{
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
/* #section_images{
   
} */

/* body end from boutique */