/* start the PANIER */

#panierboutiqe{
    text-align: center;
    margin-top: 100px;
}
#paniercheck{
   height: 20px;
   width: 15px;
   /* text-align: center; */
 } 


#panierBoutique_body{
    padding: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(101, 104, 106);
    margin-top: 100px;

}
 #paniermain_consulter{
    display: flex;
    border-style: dotted;
    border-color: black;
    
}

.panierside_imgs{
    width: 200px;
    height: 200px;

}
/* .paniercouleur_img{
    margin-bottom: 80px;
} */
.panierhappy_area{
    padding-top: 20px;
    padding-right: 30px;
    justify-content: center;
}
.payment_methods{
    width: 50%;
    padding-top: 10px;
    padding-left: 25px;
}

.methods{
    width: 25px;
    height: 20px;
    
}
/* End of PANIER */
