
/* body start for Connexion */
#connexionPage{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.connexion{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding-top: 50px;
    
}
#connexionBody{
   padding-top: 150px;
}
/* .inputconnexion{
    
} */

.placeholder{
    width: 230px;
    height: 50px;
    text-align: center;
}
/* #inscriptionBody{

} */

.submit_button{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-left: 45px;
}


/* body end from Connexion */
