*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(14, 155, 155); */
}
.mainAdmin{
    margin: 0 auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
} 

/* body start for admin Dashbord */
#admin{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aqua;
}
.AdminLayoutNav{
    display: flex;
    justify-content: space-around;
    word-spacing: 30px;
}
.dashbordBody{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding-top: 50px;
    padding-bottom: 150px;   
}
.placeholder{
    width: 230px;
    height: 50px;
    text-align: center;
    border-bottom: rgb(175, 175, 225); 
}