*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainAdmin{
    /* max-width: 1280px; */
    margin: 0 auto; 
    /* margin-top: 100px;
    margin-left: 250px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(134, 134, 145); */
} 

/* body start for admin Dashbord */
#admin{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aqua;
}
.AdminLayoutNav{
    display: flex;
    justify-content: space-around;
    word-spacing: 30px;
}
.dashbordBody{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding-top: 50px;
    padding-bottom: 150px;   
}

.placeholder{
    width: 230px;
    height: 50px;
    text-align: center;
    border-bottom: rgb(175, 175, 225); 
}