*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.Loginmy-container{
  width: 300px;
  max-height: 80vh;
  margin: 100px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
}

.Logininput-group{
  margin: 15px auto!important;
}

.Logininput-group label{
  display: inline-block;
  justify-content: center;
  /* margin-bottom: 100px !important; */
}

.Logininput-group input{
  display: inline-block;
  width: 100%;
  padding: 8px;
  margin: 10px;
  border-radius: 7px;
  
}

.Loginbtn{
  cursor: pointer;
  background-color: #064906;
  color: #fff;
  transition: .2s;
}

.Loginbtn:hover{
  opacity: .7;
}

/* @media screen and (min-width:960px) and (max-width:1200px)*/
/* @media screen and (min-width:768px) and (max-width:959px)*/
/* @media screen and (min-width:320px) and (max-width:767px) */
/* max-width: 300px !important; */
/* max-width: 1280px !important; */
/* max-width: 100vw !important; */