*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: blue; */
} 

/* .landing{
    width:100%;
    height: 300px;
    margin: 0 auto;
} */

.top_p{
    display: flex;
    justify-content: center;
}
.logo_area{
    width: 100%;
    height: 90px;
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(180, 234, 53); */
}

#name{
    font-size: 40px;
}

.navbar{
    height: 60px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    /* background-color: aquamarine; */
}
.navbar ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
}
.navbar ul li{
    font-size: 1.5em;
}

section .header{
    width: 100%;
    /* border-left: 10px solid ; */
    background-color: rgb(205, 50, 73);
    position: relative;

}
.main_image{
    width: 100%;
}
.header{
    position: relative;
}
.offer_inf1{
    /* display: flex;
    position: absolute; */
    position: absolute;
    top: 70%;
    left: 68%;
    /* background-color:yellow; */
    color: black solid;
    font-size: .7em;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}
.offer_inf2{
    /* display: flex;
    position: absolute; */
    position: absolute;
    top: 35%;
    left: 28%;
    /* background-color:yellow; */
    color: black;
    font-size: .7em;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

.first_landing{
    background-color: DF2E08;
}
.first_message{
    
    text-align: center;
}
.first_landing_images{
  
    padding: 40px 40px;
    height: 200px;
    /* width: 150px; */
    display: flex;
    justify-content: space-around;
    
}


.footer{
    background-color: #2D788F;
}

.top_footer{
    display: flex;
    justify-content: space-around; 
    padding-top: 20px;
}
.payment_methods{
    width: 50%;
    padding-top: 10px;
    padding-left: 17px;
}

.methods{
    width: 25px;
    height: 20px;
}

.middle_footer{
    text-align: center;
    padding: 20px 20px;
    border-bottom: 5px solid white;
}
.Corporate{
    padding-left: 70px;
}
.sécurité{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}
.aide{
    padding-left: 20px;
}
.faq{
    padding-top: 10px;
    text-align: center;
    padding: 20px 20px;
}

.bottom_footer{
    height: 60px;
    padding-left: 70px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;    
}

.social_media{
    height: 200px;
    /* display: flex;
    justify-content: space-around; 
    padding-left: 20px; */

    /* justify-content: space-between;
    text-align: right;
    padding: 20px;
    margin-right: 50px;
    height: 70px; */
}

.media_images{
    height: 15px;
    
}

/* body start from boutique */
#boutiqe{
    text-align: center;
    padding: 100px;
}
#Boutique_body{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;


}
 #sidebar1{
    text-align: center;
}

.sideImg{
    width: 100px;
    height: 200px;
    padding-top: 40px;
}
/* #sidebar2{
    text-align: center;
    padding-top: 90px;
} */ */
/* #color{
    text-align: center;
} */
.side_imgs{
    width: 200px;
    height: 200px;
}

.taille{
    padding-top: 50px;
    text-align: center;
}
.taille1{
    padding-top:20px;
    text-align: center;
}
.size_area{
    padding-top: 20px;
    text-align: center;
    word-spacing: 30px;
}

.quantity_adjust{
    padding-top: 40px;
    text-align: center;
}
#add_button{
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}
/* #section_images{
   
} */

/* body end from boutique */



.second_landing_images{
    background-color: #17292F;
    height: 350px;
    display: flex;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left:100px;
    padding-right: 150px;
    justify-content:space-between;
}

.photo_left{
    padding-top: 30px;
    padding-bottom:20px;
    padding-left: 80px;
    max-width: 400px;
    max-height: 220px;
    
}
.photo_right{
    padding-top: 20px;
    max-width: 400px;
    max-height: 220px;
}

.mode_text1{
    /* transform: rotate(290deg);  */
    padding-left: 120px; 
    color: white;
}
.mode_text2{
    /* transform: rotate(290deg);  */
    color: white;
    padding-top: 80px;
    padding-left: 80px;
}


/* body start from boutique Landing images it is not working */
#landingboutiqe{
    text-align: center;
    padding: 100px;
}
#landingBoutique_body{
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#landingsidebar1{
    text-align: left;
    word-spacing: 30px;

}
#landingsidebar2{
    text-align: left;
    padding-top: 90px;
    word-spacing: 30px;
}

.landingsize_area{
    word-spacing: 65px;
}
.landingsection_images{
   display: flex;
   justify-content: space-between;
}

.display_img{
    padding-left: 15px;
    padding-right: 15px;
}

/* body end from boutique Landing Images */



/* body start from boutique */
#Ajouterboutiqe{
    display: flex;
    text-align: center;
    margin-top: 100px;
}
#check{
   height: 20px;
   width: 15px;
   /* text-align: center; */
}
#AjouterBoutique_body{
    padding: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(101, 104, 106);
    margin-top: 100px;

}
 #Ajoutermain_consulter{
    display: flex;
    border-style: dotted;
    border-color: black;
}

.Ajouterside_imgs{
    width: 200px;
    height: 200px;
    padding-top:30px ;
}

.happy_area{
    padding-top: 10px;
    padding-right: 10px;
    justify-content: center;
}

.trush{
    padding-top: 60px;
    padding-left: 50px;
    text-align: center;
}
.buttons{
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#button1{
   background-color: rgb(131, 219, 131);
}
#button2{
   background-color: aqua;
}
/* #section_images{
   
} */

/* body end from boutique Ajouter au Panier */

/* start the PANIER */

#panierboutiqe{
    text-align: center;
    margin-top: 100px;
}
#paniercheck{
   height: 20px;
   width: 15px;
   /* text-align: center; */
 } 


#panierBoutique_body{
    padding: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(101, 104, 106);
    margin-top: 100px;

}
 #paniermain_consulter{
    display: flex;
    border-style: dotted;
    border-color: black;
    
}

.panierside_imgs{
    width: 200px;
    height: 200px;

}
/* .paniercouleur_img{
    margin-bottom: 80px;
} */
.panierhappy_area{
    padding-top: 20px;
    padding-right: 30px;
    justify-content: center;
}
.payment_methods{
    width: 50%;
    padding-top: 10px;
    padding-left: 25px;
}

.methods{
    width: 25px;
    height: 20px;
    
}
/* End of PANIER */


/* body start for Connexion */
#connexionPage{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.connexion{
    display: flex;
    justify-content: space-around;
    background-color: teal;
    padding-top: 50px;
    
}
#connexionBody{
   padding-top: 150px;
}
/* .inputconnexion{
    
} */

.placeholder{
    width: 230px;
    height: 50px;
    text-align: center;
}
/* #inscriptionBody{

} */

.submit_button{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-left: 45px;
}


/* body end from Connexion */

/* body start for Propos */
#aboutPage{
    margin-top: 150px;
    text-align: center;
  }
  
  .propos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(205, 245, 246);
  }
  
  .information{
      background-color: #b5d3fa;
      /* background-image: url("img/legal.jpg"), url("paper.gif"); */
  }
  
  .submit_button{
     text-align: center;
     width: 100px;
     height: 50px;
     border-radius: 30px;
     border-color: turquoise;   
  }
   
  /* body end from Propos */